.git
.gitignore
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.ipynb_checkpoints/
*.ipynb
RAG_System/

.env
.env.*

faiss_index/
RAG_System/faiss_index/

build/
dist/
wheels/
*.egg-info/
